body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main-container {
    background-color: blue;
}

header {
    font-size: 50px;
    text-align: center;
    background-color: aquamarine;
    padding-top: 10px;
    padding-bottom: 10px;
}