body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main-container {
    background-color: blue;
}

header {
    font-size: 50px;
    text-align: center;
    background-color: aquamarine;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

.library-book {
    padding: 15px;
    background-color: aliceblue;
    width: 20%;
    border-color: black;
    border-style: dotted;
    margin-left: 10px;
}

header button {
    border-radius: 10px;
    border-style: solid;
}

header button:hover {
    background-color: lightblue;
}